header{
    margin: 0 auto;
    max-width: 1920px;
    
    .toolbar{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        li{

            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 20px;
            padding-right: 20px;
            font-weight: 700;
            font-size: 28px;
            text-align: center;
        }
    }

}

@media (max-width: 992px){
    header{
        .toolbar{
            flex-wrap: wrap;
            
        }
    }
}